In [2]:
import pandas as pd
import numpy as np
from decimal import Decimal

In [3]:
df_supply_2019 = pd.read_csv('./Output/supply_charger_2019.csv')
df_supply_2020 = pd.read_csv('./Output/supply_charger_2020.csv')
df_demand_2019 = pd.read_csv('./Output/demand_to_supply_2019.csv')
df_demand_2020 = pd.read_csv('./Output/demand_to_supply_2020.csv')

In [66]:
df_supply_2019 = pd.read_csv('./Output/Highscore_tests/supply_charger_2019.csv')
df_supply_2020 = pd.read_csv('./Output/Highscore_tests/supply_charger_2020.csv')
df_demand_2019 = pd.read_csv('./Output/Highscore_tests/demand_to_supply_2019.csv')
df_demand_2020 = pd.read_csv('./Output/Highscore_tests/demand_to_supply_2020.csv')

In [67]:
df_demand_2019

        Demand_Index  Supply_Index  Demand_Satisfied
0                  0             0               0.0
1                  0             1               0.0
2                  0             2               0.0
3                  0             3               0.0
4                  0             4               0.0
...              ...           ...               ...
409595          4095            95               0.0
409596          4095            96               0.0
409597          4095            97               0.0
409598          4095            98               0.0
409599          4095            99               0.0

[409600 rows x 3 columns]

In [15]:
df_supply_2019.drop('Unnamed: 0',axis=1, inplace=True)
df_supply_2020.drop('Unnamed: 0',axis=1, inplace=True)
df_demand_2019['Supply_Index'] = pd.to_numeric(df_demand_2019['Supply_Index'],downcast='integer')
df_demand_2020['Supply_Index'] = pd.to_numeric(df_demand_2020['Supply_Index'],downcast='integer')
df_solution_demand_2020 = pd.DataFrame({'year':2020,'data_type':'DS','demand_point_index':df_demand_2020['Demand_Index'],'supply_point_index':df_demand_2020['Supply_Index'],'value':df_demand_2020['Demand_Satisfied']})
df_solution_demand_2019 = pd.DataFrame({'year':2019,'data_type':'DS','demand_point_index':df_demand_2019['Demand_Index'],'supply_point_index':df_demand_2019['Supply_Index'],'value':df_demand_2019['Demand_satisfied']})
df_solution_supply_2019_FCS = pd.DataFrame({'year':2019,'data_type':'FCS','demand_point_index':'','supply_point_index':df_supply_2019['Supply_id'],'value':df_supply_2019['Supply_FCS']})
df_solution_supply_2019_SCS = pd.DataFrame({'year':2019,'data_type':'SCS','demand_point_index':'','supply_point_index':df_supply_2019['Supply_id'],'value':df_supply_2019['Supply_SCS']})
df_solution_supply_2020_FCS = pd.DataFrame({'year':2020,'data_type':'FCS','demand_point_index':'','supply_point_index':df_supply_2020['Supply_id'],'value':df_supply_2020['Supply_FCS']})
df_solution_supply_2020_SCS = pd.DataFrame({'year':2020,'data_type':'SCS','demand_point_index':'','supply_point_index':df_supply_2020['Supply_id'],'value':df_supply_2020['Supply_SCS']})
df_solution = pd.concat([df_solution_supply_2019_SCS,df_solution_supply_2019_FCS,df_solution_supply_2020_SCS,df_solution_supply_2020_FCS,df_solution_demand_2019,df_solution_demand_2020],axis=0)
df_solution

KeyError: 'Demand_satisfied'

In [202]:
def my_floor(a, precision=3):
    return np.round(a - 0.5 * 10**(-precision), precision)
df_solution['value'] = df_solution['value'].apply(my_floor)

In [7]:
#Check for Constraint 5
for i,row in df_solution[(df_solution['year']==2020)& ((df_solution['data_type']=='DS'))].groupby(['supply_point_index']).sum().iterrows():
    temp = df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='SCS'))][i]*200 + df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='FCS'))][i]*400
    if row.value > temp:
        print(i)
        print(row.value)
        print(temp)

In [213]:
df_solution.to_csv('./Output/Highscore_tests/solution.csv', index=False)

In [180]:
df_supply_2019

    Unnamed: 0  index  supply_point_index  existing_num_SCS  existing_num_FCS
0            0      0                   0                 5                18
1            1      1                   1                 4                 8
2            2     12                   2                 6                14
3            3     23                   3                 5                 5
4            4     34                   4                11                 6
..         ...    ...                 ...               ...               ...
95          95     95                  95                 3                11
96          96     96                  96                 5                26
97          97     97                  97                 4                27
98          98     98                  98                 7                 5
99          99     99                  99                 2                11

[100 rows x 5 columns]

In [17]:
df_supply_2019

    Unnamed: 0  index  supply_point_index  existing_num_SCS  existing_num_FCS
0            0      0                   0                 5                15
1            1      1                   1                 4                 7
2            2     12                   2                 6                14
3            3     23                   3                 5                 5
4            4     34                   4                11                 6
..         ...    ...                 ...               ...               ...
95          95     95                  95                 3                 4
96          96     96                  96                 5                20
97          97     97                  97                 4                26
98          98     98                  98                 7                 5
99          99     99                  99                 2                11

[100 rows x 5 columns]

In [18]:

df_supply_2019 = pd.read_csv('./Output/Highscore_tests/supply_charger_2019.csv')
df_supply_2020 = pd.read_csv('./Output/Highscore_tests/supply_charger_2020.csv')
df_demand_2019 = pd.read_csv('./Output/Highscore_tests/demand_to_supply_2019.csv')
df_demand_2020 = pd.read_csv('./Output/Highscore_tests/demand_to_supply_2020.csv')

df_demand_2019['Supply_Index'] = pd.to_numeric(df_demand_2019['Supply_Index'],downcast='integer')
df_demand_2020['Supply_Index'] = pd.to_numeric(df_demand_2020['Supply_Index'],downcast='integer')
df_solution_demand_2020 = pd.DataFrame({'year':2020,'data_type':'DS','demand_point_index':df_demand_2020['Demand_Index'],'supply_point_index':df_demand_2020['Supply_Index'],'value':df_demand_2020['Demand_Satisfied']})
df_solution_demand_2019 = pd.DataFrame({'year':2019,'data_type':'DS','demand_point_index':df_demand_2019['Demand_Index'],'supply_point_index':df_demand_2019['Supply_Index'],'value':df_demand_2019['Demand_Satisfied']})
df_solution_supply_2019_FCS = pd.DataFrame({'year':2019,'data_type':'FCS','demand_point_index':'','supply_point_index':df_supply_2019['supply_point_index'],'value':df_supply_2019['existing_num_FCS']})
df_solution_supply_2019_SCS = pd.DataFrame({'year':2019,'data_type':'SCS','demand_point_index':'','supply_point_index':df_supply_2019['supply_point_index'],'value':df_supply_2019['existing_num_SCS']})
df_solution_supply_2020_FCS = pd.DataFrame({'year':2020,'data_type':'FCS','demand_point_index':'','supply_point_index':df_supply_2020['supply_point_index'],'value':df_supply_2020['existing_num_FCS']})
df_solution_supply_2020_SCS = pd.DataFrame({'year':2020,'data_type':'SCS','demand_point_index':'','supply_point_index':df_supply_2020['supply_point_index'],'value':df_supply_2020['existing_num_SCS']})
df_solution = pd.concat([df_solution_supply_2019_SCS,df_solution_supply_2019_FCS,df_solution_supply_2020_SCS,df_solution_supply_2020_FCS,df_solution_demand_2019,df_solution_demand_2020],axis=0)
df_solution

        year data_type demand_point_index  supply_point_index  value
0       2019       SCS                                      0    5.0
1       2019       SCS                                      1    4.0
2       2019       SCS                                      2    6.0
3       2019       SCS                                      3    5.0
4       2019       SCS                                      4   11.0
...      ...       ...                ...                 ...    ...
409595  2020        DS               4095                  95    0.0
409596  2020        DS               4095                  96    0.0
409597  2020        DS               4095                  97    0.0
409598  2020        DS               4095                  98    0.0
409599  2020        DS               4095                  99    0.0

[819600 rows x 5 columns]

In [219]:
df_demand_2020.Demand_Satisfied.sum()

507996.0201411

In [19]:
def my_floor(a, precision=3):
    return np.round(a - 0.5 * 10**(-precision), precision)
df_solution['value'] = df_solution['value'].apply(my_floor)

In [73]:
#Check for Constraint 5
supply_2019 =[]
supply_2020 = []
for i,row in df_solution[(df_solution['year']==2019)& ((df_solution['data_type']=='DS'))].groupby(['supply_point_index']).sum().iterrows():
    temp = df_solution['value'][(df_solution['year']==2019)& ((df_solution['data_type']=='SCS'))][i]*200 + df_solution['value'][(df_solution['year']==2019)& ((df_solution['data_type']=='FCS'))][i]*400
    if row.value > temp:
        supply_2019.append(i)
for i,row in df_solution[(df_solution['year']==2020)& ((df_solution['data_type']=='DS'))].groupby(['supply_point_index']).sum().iterrows():
    temp = df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='SCS'))][i]*200 + df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='FCS'))][i]*400
    if row.value > temp:
        supply_2020.append(i)

In [8]:
for i,row in df_solution[(df_solution['year']==2019)& ((df_solution['data_type']=='DS'))].groupby(['supply_point_index']).sum().iterrows():
    temp = df_solution['value'][(df_solution['year']==2019)& ((df_solution['data_type']=='SCS'))][i]*200 + df_solution['value'][(df_solution['year']==2019)& ((df_solution['data_type']=='FCS'))][i]*400
    if row.value > temp:
        print(row.value)
        print(temp)
        print(row)

In [9]:
for i,row in df_solution[(df_solution['year']==2020)& ((df_solution['data_type']=='DS'))].groupby(['supply_point_index']).sum().iterrows():
    temp = df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='SCS'))][i]*200 + df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='FCS'))][i]*400
    if row.value > temp:
        print(row)
        print(temp)

In [110]:
for i in supply_2019:
    df_temp = df_solution[(df_solution['year'] == 2019) & (df_solution['data_type'] == 'DS') & (df_solution['supply_point_index'] == i) & (df_solution['value'] > 9)][['demand_point_index','supply_point_index','value']]
    
    demand = int(df_temp.head(1).demand_point_index)
    supply = int(df_temp.head(1).supply_point_index)
    df_solution.loc[(df_solution['year'] == 2019) &(df_solution['data_type'] == 'DS') & (df_solution['demand_point_index'] == demand)& (df_solution['supply_point_index'] == supply),'value'] = df_solution[(df_solution['year'] == 2019) &(df_solution['data_type'] == 'DS') & (df_solution['demand_point_index'] == demand)& (df_solution['supply_point_index'] == supply)].value.apply(my_floor)
    print(f'adjusted {demand}/{supply}')

adjusted 47/0
adjusted 3493/1
adjusted 3370/2
adjusted 1904/4
adjusted 1893/6
adjusted 610/7
adjusted 2599/8
adjusted 1699/13
adjusted 3321/16
adjusted 1052/18
adjusted 2143/20
adjusted 3066/21
adjusted 2887/23
adjusted 3170/25
adjusted 3044/26
adjusted 61/27
adjusted 2426/29
adjusted 1061/30
adjusted 1592/31
adjusted 1701/32
adjusted 2676/33
adjusted 965/34
adjusted 57/35
adjusted 429/40
adjusted 2137/41
adjusted 3125/47
adjusted 1746/48
adjusted 1615/49
adjusted 921/50
adjusted 20/60
adjusted 3200/61
adjusted 1292/64
adjusted 2665/67
adjusted 482/69
adjusted 1903/71
adjusted 3433/72
adjusted 1657/73
adjusted 40/76
adjusted 2850/79
adjusted 2744/81
adjusted 2626/84
adjusted 384/88
adjusted 2928/89
adjusted 3159/94
adjusted 425/95
adjusted 1495/96
adjusted 545/97
adjusted 2284/98

In [112]:
for i in supply_2020:
    df_temp = df_solution[(df_solution['year'] == 2020) & (df_solution['data_type'] == 'DS') & (df_solution['supply_point_index'] == i) & (df_solution['value'] > 9)][['demand_point_index','supply_point_index','value']]
    
    demand = int(df_temp.head(1).demand_point_index)
    supply = int(df_temp.head(1).supply_point_index)
    df_solution.loc[(df_solution['year'] == 2020) &(df_solution['data_type'] == 'DS') & (df_solution['demand_point_index'] == demand)& (df_solution['supply_point_index'] == supply),'value'] = df_solution[(df_solution['year'] == 2020) &(df_solution['data_type'] == 'DS') & (df_solution['demand_point_index'] == demand)& (df_solution['supply_point_index'] == supply)].value.apply(my_floor)
    print(f'adjusted {demand}/{supply}')

adjusted 47/0
adjusted 3492/1
adjusted 2599/8
adjusted 2446/9
adjusted 48/10
adjusted 1699/13
adjusted 1983/14
adjusted 1656/15
adjusted 1116/18
adjusted 237/19
adjusted 2887/23
adjusted 3044/26
adjusted 63/27
adjusted 1061/30
adjusted 2675/33
adjusted 2478/42
adjusted 3125/47
adjusted 1475/51
adjusted 3222/52
adjusted 2603/53
adjusted 1837/54
adjusted 2140/56
adjusted 1903/71
adjusted 96/74
adjusted 2134/75
adjusted 40/76
adjusted 363/77
adjusted 2015/80
adjusted 2807/81
adjusted 2387/82
adjusted 2690/84
adjusted 2194/85
adjusted 2835/86
adjusted 320/88
adjusted 2928/89
adjusted 2904/91
adjusted 36/92
adjusted 3159/94
adjusted 426/95
adjusted 544/97
adjusted 2284/98
adjusted 147/99

In [212]:
#Check for Constraint 1
df_solution[(df_solution.value<0)]

Empty DataFrame
Columns: [year, data_type, demand_point_index, supply_point_index, value]
Index: []

In [20]:
df_solution.to_csv('./Output/Highscore_tests/solution.csv', index=False)