In [1]:
import pandas as pd

In [30]:
df_supply_2019 = pd.read_csv('./Output/supply_charger_2019.csv')
df_supply_2020 = pd.read_csv('./Output/supply_charger_2020.csv')
df_demand_2019 = pd.read_csv('./Output/demand_to_supply_2019.csv')
df_demand_2020 = pd.read_csv('./Output/demand_to_supply_2020.csv')

In [10]:
df_supply_2019.drop('Unnamed: 0',axis=1, inplace=True)
df_supply_2019

    Supply_id  Supply_SCS  Supply_FCS
0           0           6           3
1           1           6           8
2           2           8          14
3           3           6           5
4           4          11           6
..        ...         ...         ...
95         95           4           5
96         96           7          13
97         97           5          15
98         98           9           5
99         99           3          11

[100 rows x 3 columns]

In [9]:
df_supply_2020.drop('Unnamed: 0',axis=1, inplace=True)
df_supply_2020

    Supply_id  Supply_SCS  Supply_FCS
0           0           8           3
1           1           7           9
2           2           9          14
3           3           8           5
4           4          12           6
..        ...         ...         ...
95         95           5           6
96         96           7          16
97         97           5          18
98         98          11           5
99         99           3          11

[100 rows x 3 columns]

In [32]:
df_demand_2019.drop('Unnamed: 0',axis=1, inplace=True)
df_demand_2019['Supplyoint'] = pd.to_numeric(df_demand_2019['Supplyoint'],downcast='integer')
df_demand_2019

      Demandpoint  Supplyoint  Demand_satisfied
0               0          38         14.700858
1               1          38         14.342703
2               2          38         14.876648
3               3          38         16.735146
4               4          38         17.209426
...           ...         ...               ...
4190         4091          38          5.841534
4191         4092          38          2.095118
4192         4093          38          3.404481
4193         4094          38          7.488203
4194         4095          38          7.928315

[4195 rows x 3 columns]

In [31]:
df_demand_2020.drop('Unnamed: 0',axis=1, inplace=True)
df_demand_2020['Supplyoint'] = pd.to_numeric(df_demand_2020['Supplyoint'],downcast='integer')
df_demand_2020

      Demandpoint  Supplyoint  Demand_satisfied
0               0          38         16.699641
1               1          38         16.310750
2               2          38         16.982585
3               3          38         19.149632
4               4          38         19.669637
...           ...         ...               ...
4190         4091          38          6.615759
4191         4092          38          2.379986
4192         4093          38          3.852547
4193         4094          38          8.501453
4194         4095          38          8.961426

[4195 rows x 3 columns]

In [14]:
df_solution = pd.DataFrame({'year','data_type':,'demand_point_index':,'supply_point_index':,'value':},dtype=['int','str','int','int','float'])

In [33]:
df_solution_demand_2020 = pd.DataFrame({'year':2020,'data_type':'DS','demand_point_index':df_demand_2020['Demandpoint'],'supply_point_index':df_demand_2020['Supplyoint'],'value':df_demand_2020['Demand_satisfied']})
df_solution_demand_2020

      year data_type  demand_point_index  supply_point_index      value
0     2020        DS                   0                  38  16.699641
1     2020        DS                   1                  38  16.310750
2     2020        DS                   2                  38  16.982585
3     2020        DS                   3                  38  19.149632
4     2020        DS                   4                  38  19.669637
...    ...       ...                 ...                 ...        ...
4190  2020        DS                4091                  38   6.615759
4191  2020        DS                4092                  38   2.379986
4192  2020        DS                4093                  38   3.852547
4193  2020        DS                4094                  38   8.501453
4194  2020        DS                4095                  38   8.961426

[4195 rows x 5 columns]

In [34]:
df_solution_demand_2019 = pd.DataFrame({'year':2019,'data_type':'DS','demand_point_index':df_demand_2019['Demandpoint'],'supply_point_index':df_demand_2019['Supplyoint'],'value':df_demand_2019['Demand_satisfied']})
df_solution_demand_2019

      year data_type  demand_point_index  supply_point_index      value
0     2019        DS                   0                  38  14.700858
1     2019        DS                   1                  38  14.342703
2     2019        DS                   2                  38  14.876648
3     2019        DS                   3                  38  16.735146
4     2019        DS                   4                  38  17.209426
...    ...       ...                 ...                 ...        ...
4190  2019        DS                4091                  38   5.841534
4191  2019        DS                4092                  38   2.095118
4192  2019        DS                4093                  38   3.404481
4193  2019        DS                4094                  38   7.488203
4194  2019        DS                4095                  38   7.928315

[4195 rows x 5 columns]

In [37]:
df_solution_supply_2019_FCS = pd.DataFrame({'year':2019,'data_type':'FCS','demand_point_index':'','supply_point_index':df_supply_2019['Supply_id'],'value':df_supply_2019['Supply_FCS']})
df_solution_supply_2019_FCS

    year data_type demand_point_index  supply_point_index  value
0   2019       FCS                                      0      3
1   2019       FCS                                      1      8
2   2019       FCS                                      2     14
3   2019       FCS                                      3      5
4   2019       FCS                                      4      6
..   ...       ...                ...                 ...    ...
95  2019       FCS                                     95      5
96  2019       FCS                                     96     13
97  2019       FCS                                     97     15
98  2019       FCS                                     98      5
99  2019       FCS                                     99     11

[100 rows x 5 columns]

In [39]:
df_solution_supply_2019_SCS = pd.DataFrame({'year':2019,'data_type':'SCS','demand_point_index':'','supply_point_index':df_supply_2019['Supply_id'],'value':df_supply_2019['Supply_SCS']})
df_solution_supply_2019_SCS

    year data_type demand_point_index  supply_point_index  value
0   2019       SCS                                      0      6
1   2019       SCS                                      1      6
2   2019       SCS                                      2      8
3   2019       SCS                                      3      6
4   2019       SCS                                      4     11
..   ...       ...                ...                 ...    ...
95  2019       SCS                                     95      4
96  2019       SCS                                     96      7
97  2019       SCS                                     97      5
98  2019       SCS                                     98      9
99  2019       SCS                                     99      3

[100 rows x 5 columns]

In [40]:
df_solution_supply_2020_FCS = pd.DataFrame({'year':2020,'data_type':'FCS','demand_point_index':'','supply_point_index':df_supply_2020['Supply_id'],'value':df_supply_2020['Supply_FCS']})
df_solution_supply_2020_FCS

    year data_type demand_point_index  supply_point_index  value
0   2020       FCS                                      0      3
1   2020       FCS                                      1      9
2   2020       FCS                                      2     14
3   2020       FCS                                      3      5
4   2020       FCS                                      4      6
..   ...       ...                ...                 ...    ...
95  2020       FCS                                     95      6
96  2020       FCS                                     96     16
97  2020       FCS                                     97     18
98  2020       FCS                                     98      5
99  2020       FCS                                     99     11

[100 rows x 5 columns]

In [41]:
df_solution_supply_2020_SCS = pd.DataFrame({'year':2020,'data_type':'SCS','demand_point_index':'','supply_point_index':df_supply_2020['Supply_id'],'value':df_supply_2020['Supply_SCS']})
df_solution_supply_2020_SCS

    year data_type demand_point_index  supply_point_index  value
0   2020       SCS                                      0      8
1   2020       SCS                                      1      7
2   2020       SCS                                      2      9
3   2020       SCS                                      3      8
4   2020       SCS                                      4     12
..   ...       ...                ...                 ...    ...
95  2020       SCS                                     95      5
96  2020       SCS                                     96      7
97  2020       SCS                                     97      5
98  2020       SCS                                     98     11
99  2020       SCS                                     99      3

[100 rows x 5 columns]

In [42]:
df_solution = pd.concat([df_solution_supply_2019_SCS,df_solution_supply_2019_FCS,df_solution_supply_2020_SCS,df_solution_supply_2020_FCS,df_solution_demand_2019,df_solution_demand_2020],axis=0)
df_solution

      year data_type demand_point_index  supply_point_index      value
0     2019       SCS                                      0   6.000000
1     2019       SCS                                      1   6.000000
2     2019       SCS                                      2   8.000000
3     2019       SCS                                      3   6.000000
4     2019       SCS                                      4  11.000000
...    ...       ...                ...                 ...        ...
4190  2020        DS               4091                  38   6.615759
4191  2020        DS               4092                  38   2.379986
4192  2020        DS               4093                  38   3.852547
4193  2020        DS               4094                  38   8.501453
4194  2020        DS               4095                  38   8.961426

[8790 rows x 5 columns]

In [43]:
df_solution.to_csv('./Output/solution.csv', index=False)

In [50]:
df_supply_2019['Supply_SCS'].sum()*200 + df_supply_2019['Supply_FCS'].sum()*400

413000

In [48]:
df_demand_2019['Demand_satisfied'].sum()

412953.7078905221

In [53]:
df_demand_2020['Demand_satisfied'].sum()

468824.01686974627

In [52]:
df_supply_2020['Supply_SCS'].sum()*200 + df_supply_2020['Supply_FCS'].sum()*400

469000

In [59]:
#Angebot 2019

df_solution['value'][(df_solution['year']==2019)& ((df_solution['data_type']=='SCS'))].sum()*200 + df_solution['value'][(df_solution['year']==2019)& ((df_solution['data_type']=='FCS'))].sum()*400

413000.0

In [60]:
#Nachfrage 2019

df_solution['value'][(df_solution['year']==2019)& ((df_solution['data_type']=='DS'))].sum()

412953.7078905221

In [62]:
#Angebot 2020

df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='SCS'))].sum()*200 + df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='FCS'))].sum()*400

469000.0

In [63]:
#Nachfrage 2020

df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='DS'))].sum()

468824.01686974627