In [164]:
import pandas as pd
import numpy as np
from decimal import Decimal

In [154]:
df_supply_2019 = pd.read_csv('./Output/supply_charger_2019.csv')
df_supply_2020 = pd.read_csv('./Output/supply_charger_2020.csv')
df_demand_2019 = pd.read_csv('./Output/demand_to_supply_2019.csv')
df_demand_2020 = pd.read_csv('./Output/demand_to_supply_2020.csv')

In [155]:
df_supply_2019.drop('Unnamed: 0',axis=1, inplace=True)
df_supply_2020.drop('Unnamed: 0',axis=1, inplace=True)
df_demand_2019.drop('Unnamed: 0',axis=1, inplace=True)
df_demand_2019['Supplyoint'] = pd.to_numeric(df_demand_2019['Supplyoint'],downcast='integer')
df_demand_2020.drop('Unnamed: 0',axis=1, inplace=True)
df_demand_2020['Supplyoint'] = pd.to_numeric(df_demand_2020['Supplyoint'],downcast='integer')
df_solution_demand_2020 = pd.DataFrame({'year':2020,'data_type':'DS','demand_point_index':df_demand_2020['Demandpoint'],'supply_point_index':df_demand_2020['Supplyoint'],'value':df_demand_2020['Demand_satisfied']})
df_solution_demand_2019 = pd.DataFrame({'year':2019,'data_type':'DS','demand_point_index':df_demand_2019['Demandpoint'],'supply_point_index':df_demand_2019['Supplyoint'],'value':df_demand_2019['Demand_satisfied']})
df_solution_supply_2019_FCS = pd.DataFrame({'year':2019,'data_type':'FCS','demand_point_index':'','supply_point_index':df_supply_2019['Supply_id'],'value':df_supply_2019['Supply_FCS']})
df_solution_supply_2019_SCS = pd.DataFrame({'year':2019,'data_type':'SCS','demand_point_index':'','supply_point_index':df_supply_2019['Supply_id'],'value':df_supply_2019['Supply_SCS']})
df_solution_supply_2020_FCS = pd.DataFrame({'year':2020,'data_type':'FCS','demand_point_index':'','supply_point_index':df_supply_2020['Supply_id'],'value':df_supply_2020['Supply_FCS']})
df_solution_supply_2020_SCS = pd.DataFrame({'year':2020,'data_type':'SCS','demand_point_index':'','supply_point_index':df_supply_2020['Supply_id'],'value':df_supply_2020['Supply_SCS']})
df_solution = pd.concat([df_solution_supply_2019_SCS,df_solution_supply_2019_FCS,df_solution_supply_2020_SCS,df_solution_supply_2020_FCS,df_solution_demand_2019,df_solution_demand_2020],axis=0)
df_solution

    Supply_id  Supply_SCS  Supply_FCS
0           0           6           3
1           1           6           8
2           2           8          14
3           3           6           5
4           4          11           6
..        ...         ...         ...
95         95           4           5
96         96           7          13
97         97           5          15
98         98           9           5
99         99           3          11

[100 rows x 3 columns]

In [169]:
def my_floor(a, precision=10):
    return np.round(a - 0.5 * 10**(-precision), precision)
df_solution['value'] = df_solution['value'].apply(my_floor)

      year data_type demand_point_index  supply_point_index      value
0     2019       SCS                                      0   6.000000
1     2019       SCS                                      1   6.000000
2     2019       SCS                                      2   8.000000
3     2019       SCS                                      3   6.000000
4     2019       SCS                                      4  11.000000
...    ...       ...                ...                 ...        ...
4190  2020        DS               4091                  38   6.615759
4191  2020        DS               4092                  38   2.379986
4192  2020        DS               4093                  38   3.852547
4193  2020        DS               4094                  38   8.501453
4194  2020        DS               4095                  38   8.961426

[8790 rows x 5 columns]

In [194]:
#Check for Constraint 5
for i,row in df_solution[(df_solution['year']==2020)& ((df_solution['data_type']=='DS'))].groupby(['supply_point_index']).sum().iterrows():
    temp = df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='SCS'))][i]*200 + df_solution['value'][(df_solution['year']==2020)& ((df_solution['data_type']=='FCS'))][i]*400
    if row.value > temp:
        print(i)
        print(row.value)
        print(temp)

In [195]:
df_solution.to_csv('./data/solution.csv', index=False)